<table class="table table-striped table-sm">
  <thead>
    <th *ngFor="let column of columns" (click)="sortPage(column)" [ngClass]="(column.sortable)?'column-header':''">
      {{column.label}}
      <span *ngIf="column.sortable" [ngSwitch]="column.order">
        <fa-icon *ngSwitchCase="Order.DESC" [icon]="faSortDown" size="lg" pull="right"></fa-icon>
        <fa-icon *ngSwitchCase="Order.ASC" [icon]="faSortUp" size="lg" pull="right"></fa-icon>
        <fa-icon *ngSwitchDefault [icon]="faSort" size="lg" pull="right"></fa-icon>
      </span>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <td>{{ country.code }}</td>
      <td>{{ country.name }}</td>
      <td>{{ country.area.land + country.area.water }}</td>
      <td>{{ country.capital ? country.capital.name : '' }}</td>
    </tr>
  </tbody>
</table>
<ngb-pagination class="d-flex justify-content-end" [collectionSize]="page.totalElements" [pageSize]="page.size"
  [(page)]="page.pageNumber" [boundaryLinks]="true" (pageChange)="changePage()" [maxSize]="5" [rotate]="true" size="sm">
</ngb-pagination>
